@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");


:root {
    --folding-header-bgColor: #242e42;
    --folding-header-bgColor-hover: #1d2636;
    --folding-header-txtColor: #dde9f8;
    --folding-header-headingColor: #7889a4;
    --folding-header-width: 160px;
    --folding-content-bgColor: #f0f1f6;
    --folding-content-txtColor: #171616;
    --folding-content-blockColor: #fff;
    --white: #fff;
    --black: #333;
    --blue: #00b9eb;
    --red: #ec1848;
    --border-radius: 4px;
    --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 "Lato", sans-serif;
}

ul {
    list-style: none;
}

svg {
    display: block;
}

a, 
button {
    color: inherit;
}

button, 
input {
    border:none;
}

a {
    text-decoration: none;
}

button { 
    background: none;
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}


/*==== folding header ====*/
.folding-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 20px;
    width: var(--folding-header-width);
    color: var(--folding-header-txtColor);
    background: var(--folding-header-bgColor);
}

.folding-header nav {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.folding-header .logo {
    display: block;
    max-width: 120px;
    margin: 10px 20px 0px;
}

.folding-header .toggle-mob-menu {
    display: none;
    margin-left: 5px;
    padding: 4px;
    background: var(--folding-content-blockColor);
    border-radius: var(--border-radius);
}

.folding-header .toggle-mob-menu svg {
    fill: var(--folding-header-bgColor);
    transition: transform 0.2s;
}

.folding-header .employee-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 5px;
}

.folding-header .employee-menu li:last-child {
    margin-top: auto;
    margin-bottom: 20px;
  }

.folding-header .employee-menu .menu-heading h3 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 12px;
    margin-top: 12px;
    color: var(--folding-header-headingColor);
}

.folding-header .employee-menu svg {
    width: 20px;
    height: 20px;
    fill: var(--folding-header-txtColor);
    margin-right: 10px;
    transition: fill 0.2s;
}

.folding-header .employee-menu a,
.folding-header .employee-menu button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  transition: background 0.2s, color 0.2s;
}

.folding-header .employee-menu a:hover,
.folding-header .employee-menu a:focus,
.folding-header .employee-menu button:hover,
.folding-header .employee-menu button:focus {
  background: var(--folding-header-bgColor-hover);
  color: var(--blue);
  outline: none;
}

.folding-header .employee-menu a:hover svg,
.folding-header .employee-menu a:focus svg,
.folding-header .employee-menu button:hover svg,
.folding-header .employee-menu button:focus svg {
  fill: var(--blue);
}

.folding-header .employee-menu li > * {
    width: 100%;
    padding: 12px 15px;
}

/* page */
.page-content {
    position: relative;
    left: var(--folding-header-width);
    width: calc(100% - var(--folding-header-width));
    min-height: 100vh;
    padding: 30px;
    color: var(--folding-content-txtColor);
    background: var(--folding-content-bgColor);
}


/*==== search bar ====*/
.search {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 50px;
    align-items: center;
    background: var(--folding-content-bgColor);
    margin-bottom: 30px;
}

.search form {
    position: relative;
}

.search input[type="search"] {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    padding-left: 15px;
    background: var(--folding-content-blockColor);
    color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.search ::placeholder {
    color: var(--folding-content-txtColor);
}

.search form svg {
    width: 26px;
    height: 26px;
    fill: var(--page-content-txtColor);
}


.search form button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}


@media screen and (min-width: 768px) {
    .collapsed .folding-header {
      width: 40px;
    }
   
    .collapsed .folding-header .employee-menu li > * {
      padding: 10px;
    }
   
    .collapsed .logo {
        transform: scale(.75, .75);
        margin: 5px;
        height:35px;
    }

    .collapsed .folding-header .employee-menu span,
    .collapsed .folding-header .employee-menu .menu-heading {
      display: none;
    }
   
    .collapsed .folding-header .employee-menu svg {
      margin-right: 0;
    }
   
    .collapsed .folding-header .collapse-btn svg {
      transform: rotate(180deg);
    }
   
    .collapsed .page-content {
      left: 40px;
      width: calc(100% - 40px);
    }
}

/* Mobile menu */
@media screen and (max-width: 767px) {
    .folding-header,
    .page-content {
      position: static;
      width: 100%;
    }

    .folding-header {
        padding: 10px;
    }

    .folding-header svg {
        fill: var(--folding-header-bgColor);
        width: 100%;
        height: 100%;
    }
   
    .folding-header nav {
      flex-direction: row;
    }
   
    .folding-header .toggle-mob-menu {
      display: block;
    }

    .folding-header .logo {
        margin:0;
        height:35px;
    }
   
    .folding-header .employee-menu {
      position: absolute;
      left: 20px;
      top: 57px;
      margin-top: 0;
      z-index: 2;
      border-radius: var(--border-radius);
      background: var(--folding-header-bgColor);
      visibility: hidden;
      opacity: 0;
      transform: scale(0.95);
      transition: all 0.2s;
    }
     
    .folding-header .employee-menu li:last-child,
    .search {
      display: none;
    }
   
    .search {
      position: absolute;
      left: 131px;
      top: 10px;
      padding: 0;
      grid-column-gap: 5px;
      width: calc(100% - 141px);
      border-radius: var(--border-radius);
      background: transparent;
    }

    .search input[type="search"] {
        font-size: 1rem;
        height: 35px;
    }

    .search form svg {
        width: 18px;
        height: 18px;
    }

}

.folding-header .employee-menu {
transition: all 0.2s;
}

.mob-menu-opened .toggle-mob-menu svg {
transform: rotate(180deg);
}

.mob-menu-opened .folding-header .employee-menu {
transform: scale(1);
visibility: visible;
opacity: 1;
}
